/* Configuración de variables */

:root {
    /* Colores */
    --white: #ffffff;
    --black: #000000;
    --warm-black: #282623;
    --light-green: #47cfac;
    --light-gray: #dddddd;
    /* Tamaño de fuente */
    --light-roboto: 300;
    --medium-roboto: 500;
    --bold-roboto: 700;
}

/* Configuración inicial */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* Header */

header {
    width: 100%;
    height: 50px;
}

/* Barra de navegación */

nav {
    width: 100%;
    height: 50px;
    background-color: var(--light-green);
}

nav ul {
    height: 10%;
    padding: 10px 0px;
    margin: 0px 50px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav li {
    list-style: none;
}

nav span {
    color: var(--white);
}

/* Main */

/* Main superior */

.main-top-container {
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-top-container figure {
    width: 300px;
    height: 90px;
}

.main-logo {
    height: 90px;
}

.main-top-container--button {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
}

.main-top-container button {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.main-top-container a {
    font-size: 25px;
    font-weight: var(--bold-roboto);
    color: var(--black);
}

/* Footer */

.contact-information {
    width: 100%;
    height: 80px;
    border-top: 20px solid var(--light-green);
    background-color: var(--warm-black);
}

.contact-information p {
    padding-top: 20px;
    text-align: center;
    color: var(--white);
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
}