/* Configuración de variables */

:root {
    /* Colores */
    --white: #ffffff;
    --black: #000000;
    --warm-black: #282623;
    --light-green: #47cfac;
    --light-gray: #dddddd;
    /* Tamaño de fuente */
    --light-roboto: 300;
    --medium-roboto: 500;
    --bold-roboto: 700;
}

/* Configuración inicial */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* Header */

header {
    width: 100%;
    height: 50px;
}

/* Barra de navegación */

nav {
    width: 100%;
    height: 50px;
    background-color: var(--light-green);
}

nav ul {
    height: 10%;
    padding: 10px 0px;
    margin: 0px 50px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav li {
    list-style: none;
}

nav span {
    color: var(--white);
}

/* Main */

/* Main superior */

.main-top-container {
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-top-container figure {
    width: 300px;
    height: 90px;
}

.main-logo {
    height: 90px;
}

.main-top-container--button {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
}

.main-top-container button {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.main-top-container a {
    font-size: 25px;
    font-weight: var(--bold-roboto);
    color: var(--black);
}

/* Main Profile */

.main-profile {
    height: 350px;
    display: grid;
    place-items: center;
    background-color: var(--light-gray);
}

.profile-container-card {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-container-card figure {
    width: 400px;
}

.profile-container-card img {
    width: 100%;
    border-radius: 10px;
}

.profile-container-card p:nth-child(1) {
    margin-top: 40px;
    font-size: 3rem;
    font-weight: var(--bold-roboto);
}

.profile-container-card p:nth-child(2) {
    font-size: 1.8rem;
    font-weight: var(--medium-roboto);
    line-height: 2.6rem;
    letter-spacing: 0.5px;
}

/* Main Inferior */

.main-bottom-container h2 {
    width: 70%;
    padding: 0 0 10px 0;
    margin: 30px auto;
    text-align: center;
    border-bottom: 1px solid var(--light-gray);
    font-size: 2.4rem;
}

/* Contenedores de los articulos */

.bottom-container-articles {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    align-items: center;
    place-items: start;
    gap: 10px;
}

.bottom-container-articles article {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.internal-card-container {
    padding: 0px 10px;
}

/* Contenido de los articulos */

.bottom-container-articles h3 {
    margin: 10px auto;
    font-size: 1.6rem;
}

.bottom-container-articles p {
    margin: 10px auto;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.bottom-container-articles .generic-button {
    background-color: var(--white);
    border-radius: 5px;
}

/* Main contact */

.main-contact {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    place-items: center;
    background-color: var(--light-gray);
}

.main-contact article {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main-contact figure {
    width: 100px;
}

.main-contact img {
    width: 100%;
}

.main-contact p:nth-child(1) {
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 1.4rem;
    border-bottom: 1.5px solid var(--warm-black);
}

.main-contact p:nth-child(2) {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}

/* Footer */

.contact-information {
    width: 100%;
    height: 80px;
    border-top: 20px solid var(--light-green);
    background-color: var(--warm-black);
}

.contact-information p {
    padding-top: 20px;
    text-align: center;
    color: var(--white);
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
}